# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives**:

- list popular languages for DS
- list popular libraries for DS
- list some basic arithmatic expressions in python
- Convert min to hours

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. C++

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Scikit-learn

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python.

a = 10
b = 5

print("Addition:", a + b)

print("Subtraction:", a - b)

In [4]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

min =200
hours = min/60
print(hours)

3.3333333333333335

## Author

Jonathan Ayoub